.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 36px;
  font-weight: 900;
  width: max-content;
}
.content {
  display: flex;
  .history {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    .item {
      border: 1px solid black;
      background-color: #f0f0f0;
      line-height: 24px;
      margin-bottom: 12px;
      padding: 0 12px;
      cursor: pointer;
      border-radius: 2px;
    }
  }
}
.board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .square {
    width: 33.3333%;
    height: 33.3333%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
  }
}
